<div class="container">

<h1 class="display-1 my-5 ml-3">Mis Comentarios</h1>
<hr>
{{#if comments}}

{{#each comments}}
<div class="card mb-3" style="">
  <div class="row no-gutters">
    <div class="col-md-8">
      <div class="card-body">
        <blockquote class="blockquote">
          <p class="mb-0">"{{content}}"</p>
          <section class="blockquote-footer">En <cite title="{{productId.name}}"><a href="/products/{{productId._id}}">{{productId.name}}</a></cite></section>
        </blockquote>
      </div>
    </div>
  </div>
</div>
{{/each}}
<br>
{{else}}
<br>
<hr>
<h5 class="my-5 ml-3">No has hecho comentarios.</h5>
{{/if}}
</div>