<div class="container">
  <h1 class="display-1 my-5 ml-3">Productos Reservados</h1>
{{#if errorMessage}}
<p style="color: crimson">{{errorMessage}}</p>
{{/if}}

{{#if cartItems}}
{{#each cartItems}}
<div class="card mb-3" style="">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{{image}}" class="card-img" style="height:20rem; object-fit: cover" alt="product-image">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h3 class="card-title display-4">{{productId.name}}</h3>
        <p class="card-text">{{productId.description}}</p>
        <p class="card-text">Subtotal: {{subtotal}}</p>
        <small><p class="card-text">Cantidad de Unidades: {{quantity}}</p></small>
        <p class="card-text"><small class="text-muted">{{productId.category}}</small></p>
        <form action="/cart/deleteItem" method="POST">
          <input type="number" name="indx" value="{{indx}}" hidden>
          <button class="btn btn-secondary rounded-pill" type="submit">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>
{{/each}}

<div class="card mb-3" style="">
  <div class="row no-gutters">
    <div class="col-md-12">
      <div class="d-flex justify-content-around py-5">
        <h3 class="card-title display-4 ">Total</h3>
        <h3 class="card-title display-4 font-weight-lighter">{{totalPrice}}</h3>
      </div>
    </div>
  </div>
</div>


<div class="card mb-3" style="">
  <div class="row no-gutters">
    <div class="col-md-12">
      <div class="d-flex justify-content-around py-5">
      <form method="POST" action="/cart/bought">
        <script
          src="https://www.mercadopago.com.co/integrations/v1/web-payment-checkout.js"
          data-preference-id='{{preferenceId}}' data-elements-color="#C0DECE" data-button-label="Alquilar">
        </script>
      </form>
      </div>
    </div>
  </div>
</div>

{{/if}}

</div>