{{#if error}}
<h1>I can't find it :c</h1>
<p style="color: crimson">{{error}}</p>
<p>But you can create it! <a href="/products/new">Click here.</a></p>

{{/if}}

{{#if name}}
<h1>{{name}}</h1>
<br>
{{#each imagesURL}}
<img src="{{this}}" alt="product-picture" style="width: 5rem; height:auto">
{{/each}}
<p>{{category}}</p>
<small><span>{{formatedPrice}}</span> c/u : Disponible(s) - <span>{{quantity}}</span></small>
<p>{{description}}</p>
<hr>
<form method="POST" action="/item/bought">
  <script src="https://www.mercadopago.com.mx/integrations/v1/web-payment-checkout.js"
    data-preference-id='{{prefenceId}}' data-button-label="Pay">
    </script>
</form>

<a href="/carrito"><button>Agregar al carrito de compras</button></a>

{{#if _id}}

<a href="/products/{{_id}}/edit">Edit it!</a>
{{/if}}
{{/if}}