{{#if error}}
<p style="color: crimson">{{error}}</p>
<p>But you can create it! <a href="/products/new">Click here.</a></p>

{{/if}}

{{#if name}}
<h1>{{name}}</h1>
<br>
{{#each imagesURL}}
<img src="{{this}}" alt="product-picture" style="width: 5rem; height:auto">
{{/each}}
<p>{{category}}</p>
<small><span>{{formatedPrice}}</span> c/u : Disponible(s) - <span>{{quantity}}</span></small>
<p>{{description}}</p>
<hr>
<form action="/cart/addItem" method="post">
<input type="text" value="{{_id}}" name="productId" hidden>
<label for="number">Cantidad:</label> <br>
<input type="number" name="quantity" max="{{quantity}}" min="0" value="1"> <br>
<button type="submit">Reservar</button>
</form>

{{#if canEdit}}

<a href="/products/{{_id}}/edit">Edit it!</a>
{{/if}}
{{/if}}