<div class="container">
<h1 class="display-1 my-5 ml-3">Edita tu Producto</h1>
<hr>
<div class="card row my-5 py-5">
  <div class="col-12">  
<form action="/products/{{_id}}/edit" method="post" enctype="multipart/form-data">

  <div class="col-md-6 m-auto mb-3">
    <div id="carouselExampleControls" class="carousel slide col-12" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{{image}}" class="d-block mx-auto" style="width: 100%;" alt="product-picture">
        </div>
        {{#each images}}
          <div class="carousel-item">
            <img src="{{this}}" class="d-block mx-auto" style="width: 100%;" alt="product-picture">
          </div>
        {{/each}}
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <br>

  <div class="form-group">
    <label for="name">Nombre</label>
    <input type="text" class="form-control"  name="name" value="{{name}}" id="name" placeholder="¿Cómo se llama?" required>
  </div>
  <div class="form-group">
    <label for="description">Descripción</label>
    <input type="text" class="form-control" name="description" id="description" value="{{description}}" placeholder="Cuéntanos un poco sobre tu producto" required>
  </div>

  <div class="form-group">
    <label for="imagesURL">Una foto por aquí por favor.</label>
    <input type="file"  class="form-control-file" name="imagesURL" id="imagesURL"> <br>
  </div>
  <div class="form-group">
    <label for="quantity">Cantidad</label>
    <input type="number" class="form-control" name="quantity" value="{{quantity}}" id="quantity" placeholder="¿Cuántos productos tienes?" minlength="1" required>
  </div>
  <div class="form-group">
    <label for="price">Precio</label>
    <input type="text" class="form-control" name="price" value="{{price}}" id="priceProducts" placeholder="¿Cuánto cuesta?" pattern="^[1-9]\d*.[0-9]\d*" minlength="1" required>
  </div>
  
  <label for="category">Categoría</label>
  <select name="category" id="category" class="form-control form-control-lg">
    <option value="{{category}}">{{category}}</option>
    <option value="Sin Categoría">Sin Categoría</option>
    <option value="Sofás">Sofás</option>
    <option value="Mesas">Mesas</option>
    <option value="Sillas">Sillas</option>
    <option value="Escritorios">Escritorios</option>
    <option value="Armarios">Armarios</option>
    <option value="Otomanos">Otomanos</option>
    <option value="Mesas de Comedor">Mesas de Comedor</option>
    <option value="Sillas de Comedor">Sillas de Comedor</option>
    <option value="Soportes para TV">Soportes para TV</option>
    <option value="Librerías">Librerías</option>
    <option value="Futones">Futones</option>
    <option value="Coffee Tables">Coffee Tables</option>
    <option value="Taburetes">Taburetes</option>
    <option value="Mesa de Noche">Mesa de Noche</option>
    <option value="Mesas de Conferencias">Mesas de Conferencias</option>
    <option value="Mesas de Entrenamiento">Mesas de Entrenamiento</option>
    <option value="Sillas de Visitante">Sillas de Visitante</option>
    <option value="Mesas de Oficina">Mesas de Oficina</option>
    <option value="Sillas de Oficina">Sillas de Oficina</option>
    <option value="Sillas Ejecutivas">Sillas Ejecutivas</option>
    <option value="Taburetes de Oficina">Taburetes de Oficina</option>
    <option value="Unidades de Almacenamiento de Oficina">Unidades de Almacenamiento de Oficina</option>
    <option value="Repisas de Oficina">Repisas de Oficina</option>
    <option value="Estaciones de trabajo">Estaciones de trabajo</option>  
  </select> 
  <div class="form-group row my-4 mx-auto">
    <div class="col-sm-10 mx-auto text-center">
      <button type="submit" class="btn btn-primary">¡Actualizar producto!</button>
    </div>
  </div>
</form>
</div>
</div>

</div>